# 全体
[config]
diskUsageMaxLimit = 80  # ディスク使用率通知の下限
serverName = ""         # サーバーの名前
serverIP = ""           # サーバーのIPアドレス

# メールの設定
[mail]
toAddress = ""    # メールの送り先
fromAddress = ""  # メールの送り主

smtpAddress = "smtp.gmail.com"  # smtpサーバーのアドレス
smtpPort = 587                  # smtpサーバーのポート
smtpUser = ""                   # smtpサーバーのユーザー
smtpPassword = ""               # smtpサーバーのパスワード

# ディスクそれぞれの設定
[[disks]]
diskName = "disk1"           # diskの表示名
mountPath = "/path/to/disk"  # dfで表示される一番右の部分
diskUsageMaxLimit = 50       # ディスク使用率通知の下限(こちらが優先)

[[disks]]
diskName = "disk2"
mountPath = "/path/to/disk"
